@tailwind base;
@tailwind components;
@tailwind utilities;

.txtcolor{
    color: rgb(16, 106, 118);
    text-decoration: underline;
}

.navBg{
    background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
}
