@tailwind base;
@tailwind components;
@tailwind utilities;

.txtcolor {
  color: rgb(16, 106, 118);
  text-decoration: underline;
}
.cardImg {
  max-width: 500px;
}

@media screen and (max-width: 600px) {
  .evecard{
    flex-direction: column;
    padding: 2px;
    height: 38rem;
    width: 5rem;

  }
  .wf{
    width: 60vw;
  }
  .eveimg{
    max-width: fit-content;
  }
}

.logobg {
  background-color: rgba(248, 255, 254, 0.76);
}
.floatdiv {
  border-radius: 40%;
  transition: transform 10s ease;
  cursor: pointer;
}

.floatdiv :hover {
  transform: translateX(-10px) translateY(-20px);
}

.wf {
  width: 85vw;
}
.txt {
  color: white;
}
.navBg {
  background: rgb(0, 61, 124);
  background: radial-gradient(
    circle,
    rgba(0, 61, 124, 1) 4%,
    rgba(36, 82, 131, 1) 35%,
    rgba(4, 46, 92, 1) 52%,
    rgba(19, 41, 45, 1) 98%
  );
}

body {
  background: rgb(4, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(4, 0, 36, 1) 1%,
    rgba(8, 120, 129, 1) 56%,
    rgba(52, 120, 177, 1) 90%
  );
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.info {
  padding: 20px;
}

.info h2 {
  margin: 0;
  font-size: 1.2em;
}

.info p {
  margin: 5px 0 0;
  font-size: 1em;
  color: #666;
}

.btn1 {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
  margin: 10px;
  padding: 12px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn1:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.heading {
  font-size: 70px;
  margin-left: 10px;
  color: #fff;


}
